[submodule ".registry"]
	path = .registry
	url = https://github.com/owenjonesuob/owenjonesuob.r-universe.dev
	branch = HEAD
[submodule "pkgnews"]
	path = pkgnews
	url = https://github.com/owenjonesuob/pkgnews
[submodule "suggests"]
	path = suggests
	url = https://github.com/owenjonesuob/suggests
